<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" routerLink="">Xayma</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				<a class="nav-link" routerLink="/">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" routerLink="section">Sections</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="membre">Membres</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Cotisations</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="xayma-container" style="margin-top:0.2rem;">
	<div class="row">
		<aside class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="..." alt="Image">
				<div class="card-block">
					<h4 class="card-title">Elhadji malang DIEDHIOU</h4>
					<h6 class="card-subtitle mb-2 text-muted">Administrateur</h6>
					<a routerLink="" class="card-link">Card link</a>
					<a routerLink="" class="card-link">Another link</a>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<nav class="nav flex-column">
						<a class="nav-link" routerLinkActive="active" routerLink="/">Accueil</a>
						<a class="nav-link" routerLinkActive="active" routerLink="section">Sections</a>
						<a class="nav-link" routerLinkActive="active" routerLink="membre">Membres</a>
						<a class="nav-link" routerLinkActive="active" routerLink="message/nouveau">Nouveau message</a>
						<a class="nav-link" routerLinkActive="active" routerLink="message/envoyes">Messages envoyés</a>
						<a class="nav-link" >Configuration messagerie</a>
					</nav>
				</div>
			</div>
		</aside>
		<section class="col-md-6">
			<router-outlet></router-outlet>
		</section>
		<aside class="col-md-3"></aside>
	</div>
</div>
